:root {
  --primary-font: 'Roboto', sans-serif;
  --navyblue: #2e2f42;
  --white: #ffffff;
  --iris: #4d5ae5;
  --slate: #434455;
  --ocean: #404bbf;
  --cloud: #f4f4fd;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--navyblue);
  text-decoration: none;
  background-color: var(--white);
}

/* HTML page 1 */
.logo {
  color: var(--iris);
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 1.7;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  text-decoration: none;
}

.logo-item {
  color: var(--navyblue);
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 1.7;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  text-decoration: none;
}

.page-nav .link {
  color: var(--navyblue);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;
  text-decoration: none;
}

.page-nav .link:hover,
.page-nav .link:focus {
  color: var(--ocean);
}

.page-nav .link:active {
  color: var(--navyblue);
}

.page-address .link {
  color: var(--slate);
  /* Body */
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
  text-decoration: none;
}

.page-address .link:hover,
.page-address .link:focus {
  color: var(--ocean);
}

.page-address .link:active {
  color: var(--navyblue);
}

/* Main */

.section-one {
  background-color: var(--navyblue);
}

.page-title {
  color: var(--white);
  text-align: center;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: 1.12px;
}

.button {
  border-radius: 4px;
  background-color: var(--iris);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  color: var(--white);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
}

.section-title {
  color: var(--navyblue);
  text-align: center;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: 0.72px;
  text-transform: capitalize;
}

.section-back {
  background-color: var(--white);
}
.section-two .title {
  color: var(--navyblue);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
}

.section-two .text {
  color: var(--slate);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
}

.team-info .name {
  color: var(--navyblue);
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
}

.team-info .position {
  color: var(--slate);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
}

.section-four {
  background-color: var(--cloud);
}

.footer-text {
  color: var(--cloud);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
}

.background {
  background-color: var(--navyblue);
}

.background .logo-item {
  color: var(--white);
  text-decoration: none;
}

/* HTML page 2 */
.main-info {
  background-color: var(--white);
}

.button-list .link {
  color: var(--iris);
  background-color: var(--cloud);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
}

.button-list .link:hover,
.button-list .link:focus {
  color: var(--white);
  background-color: var(--ocean);
}

.main-info .title {
  color: var(--navyblue);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
  text-decoration: none;
}

.main-info .text {
  color: var(--slate);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
  text-decoration: none;
}
